* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

#landing {
    background-image: url('./images/web-development.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    opacity: 0.8;
}
